body {
    background-color: lightblue;
    color:black;
    font-family: "Host Grotesk", sans-serif;


    margin: 0px;
}

header {
    font-size: 20px;
    border-bottom: double 5px darkblue;
    margin: 30px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}
