body {
    background-color: lightblue;
    color:black;
    font-family: "Host Grotesk", sans-serif;


    margin: 0px;
}

header {
    font-size: 30px;
    border-bottom: double 5px darkblue;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

section {
    background-color:rgb(92, 131, 131);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    width: 200px;   
    height: 150px;
}