body {
    background-color: lightblue;
    color:black;
    font-family: "Host Grotesk", sans-serif;


    margin: 0px;
}

header {
    font-size: 35px;
    border-bottom: double 5px darkblue;
    padding: 30px;
    text-align: center;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}
